.gl-new-dropdown-item {
  @include gl-cursor-pointer;
  @include gl-px-2;
  @include gl-my-1;

  &:first-child {
    @include gl-mt-0;
  }

  &:last-child {
    @include gl-mb-0;
  }

  &:active,
  &:hover,
  &:focus,
  &:focus:active {
    .gl-new-dropdown-item-content {
      @include gl-bg-gray-50;
      @include gl-text-decoration-none;
      @include gl-text-gray-900;
    }
  }

  &:focus-visible {
    outline: none;
  }

  &:active,
  &:focus,
  &:focus:active {
    .gl-new-dropdown-item-content {
      @include gl-focus($inset: true);
    }
  }

  .gl-new-dropdown-item-content {
    @include gl-w-full;
    @include gl-bg-transparent;
    @include gl-align-items-center;
    @include gl-border-0;
    @include gl-display-flex;
    @include gl-font-base;
    @include gl-font-weight-normal;
    @include gl-line-height-normal;
    @include gl-px-3;
    @include gl-py-0;
    @include gl-relative;
    @include gl-rounded-base;
    @include gl-text-gray-900;
    @include gl-text-left;
    @include gl-white-space-normal;

    .gl-new-dropdown-item-check-icon {
      @include gl-flex-shrink-0;
      @include gl-mr-3;
      @include gl-text-blue-400;
    }

    .gl-new-dropdown-item-icon {
      @include gl-flex-shrink-0;
      @include gl-mr-3;
    }

    .gl-new-dropdown-item-text-wrapper {
      @include gl-min-w-0;
      @include gl-flex-grow-1;
      @include gl-py-3;
    }
  }
}
